// Mixins Here

//button (parametric mixin) 
.btn-layout ( @color, @bgcolor) {
    display: flex; 
    justify-content: @justify;
    color: @color;
    background-color: @bgcolor; 
    border-radius: 8px;
    font-size: 1.8rem;
    padding: 10px 20px;
}

//media 
.img-width {
    width: 100%;
}

.extra-img {
    display: none;
}
